h1{
    background-color: rgb(159, 230, 197);
    font-size: 2rem;
    font-style:italic;
    text-align:center;
    line-height: center;
    
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor:pointer;
}
img{
    height:100px;
    width:100px;
    margin: 5px;
    margin-top: 5rem;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top:5rem;
}
.msg-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user,#comp{
    font-size:2rem;
}

#msg{
    display: inline;
    background-color: rgb(51, 200, 121);
    font-size: 2rem;
    padding:1rem;
    border-radius: 8%;
    
}