
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #897575;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh; /* Prevent container from growing too tall */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.result-box {
  text-align: left;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 60vh; /* Set max height for scrollable results */
  padding-right: 10px;
}

h1 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex-shrink: 0;
}

button:hover {
  background-color: #0056b3;
}


.result-box h2 {
  margin-bottom: 10px;
}

.meaning-block {
  margin-bottom: 15px;
}
